/* src/pages/Page.css */
.page {
    max-width: 614px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 300;
  }
  
  p {
    font-size: 14px;
  }