/* src/components/PostCreator.css */
.post-creator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
  }
  
  textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    resize: none;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
  }
  
  button {
    padding: 5px 9px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
  }